<div class="row">
  <div class="col-md-4">
    <%= render "concerts/concerts" %>
    <%= render "medias/medias" %>
  </div>
  <div class="col-md-5">
    <%= render "posts/posts" %>
  </div>
  <div class="col-md-3">
    <%= render "albums/featured" %>
    <%= render "utils/like" %>
    <%= render "utils/soundcloud" %>
    <%= render "sponsors/sponsors" %>
  </div>
</div>