<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Location</h3>
  </div>
  <% if @concert.lat? && @concert.long? %>
    <div class="panel-body no-padding">
      <%= image_tag @concert.display_map, class: "img-responsive"  if @concert.long and @concert.lat %>
    </div>
    <div class="panel-footer">
      <%= @concert.country %>, <%= @concert.city %></br>
      <%= @concert.street %>
    </div>
  <% else %>
    <div class="panel-body">
      <%= @concert.country %>, <%= @concert.city %></br>
      <%= @concert.street %>
    </div>
  <% end %>
</div>