<ol class="breadcrumb">
  <li><%= link_to "Home", root_path %></li>
  <li class="active">Concerts</li>
</ol>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Concerts</h3>
  </div>
  <div class="panel-body">
    <% if !@concerts.empty? %>
      <% @concerts.each do |concert| %>
        <h4><%= link_to concert.name.capitalize, concert %></h4>
        <%= concert.city %> - <%= concert.country %>
        <hr>
      <% end %>
    <% else %>
      <i>No concert yet</i>
    <% end %>
  </div>
</div>

<%= paginate @concerts, :theme => 'twitter-bootstrap-3' %>