<ol class="breadcrumb">
  <li><%= link_to "Home", root_path %></li>
  <li class="active">Concerts</li>
</ol>

<div class="row">
  <div class="col-md-8">
    <%= paginate @concerts, :theme => 'twitter-bootstrap-3' %>
    <% @concerts.each do |concert| %>
      <%= link_to concert.name, concert %>
      <hr>
    <% end %>
    <%= paginate @concerts, :theme => 'twitter-bootstrap-3' %>
  </div>
  <div class="col-md-4">
    <%= render "utils/like" %>
  </div>
</div>