<ol class="breadcrumb">
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "Concerts", concerts_path %></li>
  <li class="active"><%= @concert.name.capitalize %></li>
</ol>

<div class="row">
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @concert.name.capitalize %></h3>
      </div>
      <div class="panel-body">
        <p class="text-justify"><%= @concert.description.html_safe %></p>
      </div> 
    </div>
  </div>
  <div class="col-md-3">
      <%= render "concerts/location" %>
  </div>
</div>