<ol class="breadcrumb">
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "Albums", albums_path %></li>
  <li class="active"><%= @album.name.capitalize %></li>
</ol>

<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-body">
        <h1><%= @album.name.capitalize %></h1>
        <p class="text-justify"><%= @album.description.html_safe %></p>
        <%= image_tag @album.cover.url(:medium), class: "img-responsive" %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Listen</h3>
      </div>
      <div class="panel-body">
        ...
      </div>
    </div>
  </div>
</div>