<ol class="breadcrumb">
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "Posts", posts_path %></li>
  <li class="active"><%= @post.title %></li>
</ol>

<div class="row">
    <div class="col-md-8">
        <h1><%= @post.title %></h1>
        <p class="text-justify"><%= @post.content.html_safe %></p>
        <hr>
        <p class="pull-right">
            <span class="label label-default">keyword</span> 
            <span class="label label-default">tag</span> 
            <span class="label label-default">post</span>
        </p>
        <ul class="list-inline">
            <li><a href="#"><%= distance_of_time_in_words_to_now(@post.created_at) %> ago</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <%= render "utils/like" %>
    </div>
</div>