<!DOCTYPE html>
<html>
<head>
  <title>Paranoid</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Paranoid Sky</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "Home", root_path %></li>
                <li><%= link_to "Concerts", concerts_path %></li>
                <% pages = generate_nav %>
                <% pages.each do |page| %>
                  <li><%= link_to page.title.capitalize, page %></li>
                <% end %>
              </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container">
        <%= yield %>
    </div>

    <div class="footer">
      <div class="container">
        Paranoid Sky - <%= Time.now.year %> <span class="small pull-right">Crafted by Guillaume Mourier</span>
      </div>
    </div>
</body>
</html>
